.login{
    height: 90vh;
    width: 100vw;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 100%
    ), url("https://4.bp.blogspot.com/-zzKOq8YpAVQ/WQbkCGRVRzI/AAAAAAAAEYE/einyJ-T8y3cTGy_bb-U2OQVY_6hud5AOgCLcB/w1200-h630-p-k-no-nu/hexmojo-zeus-m710-review-1.jpg");
    position: relative;
    background-size: cover;
    
    .container{
        width: 100%;
        height: 100%;
        position: absolute;
        align-items: center;
        display: flex;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        color: white;

        form{
            width: 390px;
            height: 290px;
            background-color: var( --main--color);
            padding: 30px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            input{
                height: 70px;
                border-radius: 5px;
                background-color: grey;
                color: white;
                cursor:pointer;
                padding-left: 20px;
                &::placeholder{
                    color: lightgray;
                }
                
            }
            button{
                height: 40px;
                background-color:darkblue;
                color: white;
                border-radius: 5px;
                border: none;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
            }
            span{
                color: lightgray;
                
            }
        }
        
        
    }
}